/* Basic reset */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Styling body */
body {
    font-family: 'Roboto', sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background: linear-gradient(rgb(97, 244, 255),rgb(42, 127, 167),rgb(18, 102, 128),#09315f);
}

/* Container for the to-do list */
.container {
    background-color: #fff;
    padding: 30px;
    width: 500px;
    border-radius: 10px;
    box-shadow: 0 6px 20px rgba(0, 0, 0, 0.2);
}

/* Heading */
.container h1 {
    text-align: center;
    margin-bottom: 20px;
    font-size: 2.2rem;
    font-weight: bold;
    color: rgb(22, 115, 236);
}

/* input container */
.input-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
}

/* input box */
input[type="text"] {
    width: 70%;
    font-size: 1rem;
    outline: none;
    transition: 0.3s;
    border: 2px solid #1a73e8;
    border-radius: 8px;
    padding: 12px;
}

input[type="text"]:focus {
    border-color: #0056b3;
    box-shadow: 0 0 5px #0056b3;
}

/* button styles */
button {
    font-size: 1rem;
    cursor: pointer;
    transition: 0.3s;
    border-radius: 8px;
    border: none;
    color: #fff;
    background-color: #1a73e8;
    padding: 12px 20px;
}

button:hover {
    background-color: #0056b3;
}

/* list styling */
ul {
    list-style: none;
    padding: 0;
}

/* list item styling */
li {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 0;
    border-bottom: 1px dashed #ccc;
    font-size: 1rem;
}

/* Task complete button styling */
li button {
    background-color: transparent;
    color: #34a853; 
    font-size: 1.5rem;
    border: none;
    cursor: pointer;
    margin-right: 10px;
    transition: 0.3s;
}

li button:hover {
    color: #0c661b; 
}

/* Task remove button */
li .remove-btn {
    background-color: #ea4335;
    color: #fff;
    border: none;
    border-radius: 5px;
    padding: 5px 10px;
    cursor: pointer;
    font-size: 0.9rem;
    transition: 0.3s;
}

li .remove-btn:hover {
    background-color: #b71c1c;
}

/* text styling */
.completed {
    text-decoration: line-through;
    color: #6c757d;
}